# Игнорируем файл .env
.env

# Игнорируем файлы/папки среды разработки
.idea/
.vscode/

# Игнорируем временные файлы
*.log
*.tmp
*.bak
*.swp

# Игнорируем файлы/папки виртуальных окружений
venv/
env/
.virtualenv/

# Игнорируем файлы кэша Python
__pycache__/
*.pyc
*.pyo

# Игнорируем файлы ОС
.DS_Store
Thumbs.db

# Игнорируем зависимости, указанные в requirements.txt
pip-log.txt
pip-delete-this-directory.txt

# Игнорируем пользовательские артефакты
*.sqlite3
