DATABASE_URL=postgresql+asyncpg://user:user@host:port/name_db
DATABASE_URL_MIGRATE=postgresql+asyncpg://user:user@host:port/name_db
POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD